{% load static %}
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content=" Team Iran - FIRST Global Challenge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  

   
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href={% static 'images/favicon.png' %} />


  <!-- bootstrap.min css -->
  <link rel="stylesheet" href={% static 'plugins/bootstrap/bootstrap.min.css' %}>
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href={% static 'plugins/Ionicons/css/ionicons.min.css' %}>
  <!-- animate.css -->
  <link rel="stylesheet" href={% static 'plugins/animate-css/animate.css' %}>
  <!-- Magnify Popup -->
  <link rel="stylesheet" href={% static 'plugins/magnific-popup/magnific-popup.css' %}>
  <!-- Slick CSS -->
  <link rel="stylesheet" href={% static 'plugins/slick/slick.css' %}>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href={% static 'css/style.css' %}>

</head>

<body id="body">

  {% include 'core/header.html' %}


  <section class="portfolio-single-page section-sm">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-8 col-lg-7">
          <div class="portfolio-single-slider">
            <div><img class="img-fluid" src={% static 'images/portfolio/portfolio-big-1.jpg' %}></div>
            <div><img class="img-fluid" src={% static 'images/portfolio/portfolio-big-2.jpg' %}></div>
            <div><img class="img-fluid" src={% static 'images/portfolio/portfolio-big-3.jpg' %}></div>
            <div><img class="img-fluid" src={% static 'images/portfolio/portfolio-big-4.jpg' %}></div>
            <div><img class="img-fluid" src={% static 'images/portfolio/portfolio-big-5.jpg' %}></div>
            <div><img class="img-fluid" src={% static 'images/portfolio/portfolio-big-6.jpg' %}></div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 mt-5 mt-lg-0">
          <div class="project-details">
            <h4>Project Details</h4>
            <ul>
              <li><span><i class="fa fa-shirtsinbulk "></i> Client</span><strong>Jannie Kelonsky</strong></li>
              <li><span><i class="fa fa-shield "></i> What We Did</span><strong>Website Redesign</strong></li>
              <li><span><i class="fa fa-ils "></i> Tools Used</span><strong>Photoshop,Illustrator</strong></li>
              <li><span><i class="icon-calendar3"></i>Completed on:</span> 17th March 2020</li>
              <li><span><i class="icon-lightbulb"></i>Skills:</span> HTML5 / PHP / CSS3</li>
              <li><span><i class="icon-link"></i>Client:</span> <a href="{% url 'index' %}">Google</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="project-content mt-50">
            <h2 class="mb-3">Behance Website Redesign</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas officiis cumque, harum dicta
              necessitatibus
              reprehenderit, delectus molestiae, impedit alias adipisci distinctio voluptas. Tempora modi amet voluptate
              at provident soluta consequatur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quibusdam sed, neque recusandae, est
              odit. A facere tempore soluta laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, rem eaque facilis. Sit, voluptas?
              Error soluta odio, harum tenetur, alias in iure ipsam blanditiis illo, ratione, magnam a minima incidunt!
              Suscipit facilis, ut maxime libero necessitatibus, rerum aut voluptates aliquam maiores iusto qui
              temporibus nesciunt, incidunt in quasi. Veniam aliquid ea aperiam, obcaecati voluptate ab, temporibus
              fugiat at, inventore molestiae quibusdam, modi numquam debitis libero aut eum. Architecto sit quia quidem
              odit, quasi eveniet reprehenderit rerum dolorem voluptate sed aspernatur numquam enim, adipisci iste optio
              ea libero laboriosam praesentium aperiam nobis vero tempore consequuntur sapiente eos at. Suscipit quis
              voluptatibus temporibus dolore consectetur ex excepturi adipisci sunt. Maxime aperiam eos illum minima
              aliquid voluptate autem qui at impedit recusandae earum possimus, alias, maiores sint, sed quia quis aut
              cupiditate voluptatem reiciendis. Facilis nobis assumenda totam officiis dicta autem dolorem quidem
              similique, delectus rerum laborum veritatis, cum magnam dignissimos necessitatibus possimus error, eius
              omnis veniam culpa, porro officia adipisci exercitationem minus hic. Ipsum veritatis repudiandae nulla quo
              dicta voluptates tenetur mollitia perferendis sequi, magnam doloremque odit similique, sit, voluptas unde
              iste molestias. Accusantium, corporis quibusdam quod in animi earum alias autem ipsum. Eaque rem numquam
              delectus veniam commodi doloribus consequatur deleniti?</p>
            <div class="my-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LKFuXETZUsI?rel=0"
                  allowfullscreen></iframe>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores neque vero quasi quisquam atque in,
              libero ab sunt eius! Nesciunt laboriosam alias corporis sit accusantium voluptate sapiente debitis quos
              mollitia saepe maxime ipsum facilis dolore voluptas inventore veniam deleniti, eligendi harum aperiam
              iusto
              culpa? Delectus dolorum facere quasi iure explicabo?</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="related-projects section-sm bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h2>Related Other Projects</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-5">
          <div class="content">
            <img class="img-fluid" src={% static 'images/portfolio/portfolio-big-2.jpg' %}>
            <div class="content mt-4">
              <h4>Dribbble Redesign</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae, dignissimos culpa quam
                debitis quibusdam magni rem quis, cum nesciunt?</p>
              <a href="{% url 'portfolio-single' %}" class="btn btn-small">View Case Study</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="content">
            <img class="img-fluid" src={% static 'images/portfolio/portfolio-big-3.jpg' %}>
            <div class="content mt-4">
              <h4>Dribbble Redesign</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas recusandae, dignissimos culpa quam
                debitis quibusdam magni rem quis, cum nesciunt?</p>
              <a href="{% url 'portfolio-single' %}" class="btn btn-small">View Case Study</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'core/footer.html' %}

  <!--Scroll to top-->
  <div id="scroll-to-top" class="scroll-to-top">
    <span class="icon ion-ios-arrow-up"></span>
  </div>

  <!-- 
    Essential Scripts
    =====================================-->


  <!-- Main jQuery -->
  <script src={% static 'plugins/jquery/jquery.min.js' %}></script>
  <!-- Bootstrap 3.1 -->
  <script src={% static 'plugins/bootstrap/bootstrap.min.js' %}></script>
  <!-- slick Carousel -->
  <script src={% static 'plugins/slick/slick.min.js' %}></script>
  <script src={% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}></script>
  <!-- filter -->
  <script src={% static 'plugins/shuffle/shuffle.min.js' %}></script>
  <script src={% static 'plugins/SyoTimer/jquery.syotimer.min.js' %}></script>
   

  <script src={% static 'js/script.js' %}></script>

</body>

</html>